################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/appframework/.vs/appframework/v16
/appframework/src/app.Core/obj
/appframework/src/app.Data/obj
/appframework/src/app.Infra/obj
/appframework/src/app.Service/obj
/appframework/src/app.Web/app.Web/obj
/appframework/src/app.Infra/bin/Debug/netcoreapp3.0
/appframework/src/app.Service/bin/Debug/netcoreapp3.0
/appframework/src/app.Web/app.Web/bin/Debug/netcoreapp3.0
/appframework/src/app.Data/bin/Debug/netcoreapp3.0
/appframework/src/app.Core/bin/Debug/netcoreapp3.0
/appframework/.vs/appframework/config
/appframework/.vs/appframework/DesignTimeBuild
