
@{
    ViewBag.Title = "Contact";
}

<div class="page-title">
    <div class="title_left">
        <h3>Contact</h3>
    </div>
    <div class="title_right">

    </div>
</div>
<div class="clearfix"></div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Contacts</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_title">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="table-control-panel" class="pull-left">

                        </div>
                        <div class="pull-right">
                            <button class="btn btn-sm btn-outline btn-primary" id="btn-data-reload"
                                    data-toggle="tooltip" data-placement="bottom" title="refresh table">
                                <i class="fa fa-2x fa-refresh"></i>
                                <span class="btn-icon-text">refresh</span>
                            </button>
                            <button class="btn btn-sm btn-outline btn-primary" id="btn-new-entry-modal"
                                    data-toggle="tooltip" data-placement="bottom" title="new entry">
                                <i class="fa fa-2x fa-plus-circle"></i>
                                <span class="btn-icon-text">&nbsp; new &nbsp;</span>
                            </button>
                            <button class="btn btn-sm btn-outline btn-warning" id="btn-update-entry-modal"
                                    data-toggle="tooltip" data-placement="bottom" title="update entry">
                                <i class="fa fa-2x fa-edit"></i>
                                <span class="btn-icon-text">update</span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="x_content">
                <div id="list-view-partial-container">
                    <partial name="_PageLoaderPartial" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{

    <script>
               
          $('body')
            .on('click',
                ".modal-selector",
                function() {

                    var selectorTitle = $(this).data("selector-title");
                    var selectorUrl = $(this).data("selector-url");
                    
                    $('#my-modal-selector-title').html(selectorTitle);
                    
                    //Loading the partial view data on XHR
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: selectorUrl,
                        success: function(data) {
                            $("#my-modal-selector-form-container").html(data);
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            $("#my-modal-selector-form-container")
                                .html('<p class="text-danger"><span class="fa fa-exclamation-triangle"></span>&nbsp;Failed to load data.</p>');
                        }
                    });

                    $('#my-modal-selector').draggable({handle: ".modal-header"});
                    $('#my-modal-selector').modal('show');

                });

    </script>

    <script type="text/javascript">

        // Call Searchable Dropdown List
        $(document)
            .ajaxStop(function() {
                $(".chosen-select").chosen();
                $('div .chosen-container').removeAttr('style');
            });
        // End - Call Searchable Dropdown List

        // Call new entry modal form
        $('#btn-new-entry-modal').click(function() {

            $("#my-modal-lg-form-container").html('<span class="fa fa-refresh fa-animate-spin"></span>&nbsp;Loading...');

            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("NewContactPartial"))",
                success: function(data) {
                    $("#my-modal-lg-form-container").html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    $("#my-modal-lg-form-container")
                        .html('<p class="text-danger"><span class="fa fa-exclamation-triangle"></span>&nbsp;Failed to load data.</p>');
                }
            });

            $('#my-modal-lg').modal('show');
        });
        //End - Call new entry modal form

        //Call update entry modal form
        $('#btn-update-entry-modal').click(function() {
            var id = $("#dataTable tr.selected #row_Id").val();

            if (id !== undefined) {
                callUpdateEntryModal(id);
            }
        });

        function callUpdateEntryModal(itemId) {

            $("#my-modal-lg-form-container").html('<span class="fa fa-refresh fa-animate-spin"></span>&nbsp;Loading...');

            $.ajax({
                cache: false,
                type: "GET",
                data: { id: itemId },
                url: "@(Url.Action("UpdateContactPartial"))",
                success: function(data) {
                    $("#my-modal-lg-form-container").html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    $("#my-modal-lg-form-container")
                        .html('<p class="text-danger"><span class="fa fa-exclamation-triangle"></span>&nbsp;Failed to load data.</p>');
                }
            });

            $('#my-modal-lg').modal('show');
        }
        //End - Call update entry modal form

        //Reload table

        $("#btn-data-reload").on('click',
            function() {

                reload();

            });

        function reload() {
            // Clear the control panel
            $('#table-control-panel').html('');

            // Show loading spinner view
            $("#list-view-partial-container")
                .html('<span class="fa fa-refresh fa-spin fa-spinner"></span></span>&nbsp;Loading...');

            // Reload the datatable
            loadData();
        }

        //End - Reload table

        function loadData() {
            //Loading the partial view data on XHR
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("ViewContactPartial"))",
                success: function(data) {
                    $("#list-view-partial-container").html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    $("#list-view-partial-container")
                        .html('<p class="text-danger"><span class="fa fa-exclamation-triangle"></span>&nbsp;Failed to load data.</p>');
                }
            });
        }

        loadData();

    </script>

}