<div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">×</a>
    <p class="text-danger"><span class="fa fa-exclamation-triangle"></span>&nbsp;Failed to load data.</p>

</div>

